@model MonitoringPelanggan.Models.Pemohonan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pemohonan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoKk" class="control-label"></label>
                <input asp-for="NoKk" class="form-control" />
                <span asp-validation-for="NoKk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaPenuh" class="control-label"></label>
                <input asp-for="NamaPenuh" class="form-control" />
                <span asp-validation-for="NamaPenuh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoHp" class="control-label"></label>
                <input asp-for="NoHp" class="form-control" />
                <span asp-validation-for="NoHp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelayakan" class="control-label"></label>
                <input asp-for="Kelayakan" class="form-control" />
                <span asp-validation-for="Kelayakan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPetugas" class="control-label"></label>
                <select asp-for="IdPetugas" class ="form-control" asp-items="ViewBag.IdPetugas"></select>
            </div>
            <div class="form-group">
                <label asp-for="Proses" class="control-label"></label>
                <input asp-for="Proses" class="form-control" />
                <span asp-validation-for="Proses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
